<!DOCTYPE html>
<html>
    <head>
        <title> ConvertMyMoney </title>
        <link rel="stylesheet" href="styles.css">  
    </head>
    <body>
        <h1> <a href="/"> <img src="/images/logoConvertMyMOney.png" alt="ConvertMyMoney"> </a> </h1>
