<%- include('header') %>
  <form>
    <input name="cotacao" type="text" placeholder="Cotação do dolar...">
    <input name="quantidade" type="text" placeholder="Quant dolares...">
    <button>
      Converter!
    </button>
  </form>


<%- include('footer') %>