body {
  text-align: center;
}

img {
  width: 489px;
  margin: 20px;
}

input {
  border: 1px solid #000000;
  background: #fdfdfd;
  font-size: 20px;
  padding: 10px;
  margin: 2px;
}

button {
  border: 1px solid #000000;
  background: #d8d8d8;
  font-size: 22px;
  padding: 7px;
  margin: 4px;
}

.resultado {
  padding: 10px;
  border: 1px solid #d8d8d8;
  background: #c4c4c4;
}